@import "tailwindcss";

body {
  background: #d7e9f2;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.holographic-card {
  position: relative;
  overflow: hidden; /* 🔥 IMPORTANT */
}

/* base layer */
.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 255, 255, 0.3)
  );
  transform: rotate(-45deg) translateY(0%);
  opacity: 0;
}

/* 🔥 HOVER (DESKTOP) */
.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(120%);
  transition: all 0.4s ease;
}

/* 🔥 AUTO ANIMATION (ALL DEVICES) */
.holographic-card::before {
  animation: holographicLoop 4s linear infinite;
}

/* keyframes */
@keyframes holographicLoop {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translateY(-100%);
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: rotate(-45deg) translateY(120%);
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: rotate(-45deg) translateY(120%);
  }
}

@keyframes floatMobile {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-floatMobile {
  animation: floatMobile 3.5s ease-in-out infinite;
}

@keyframes floatTalkie {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
}

.animate-floatTalkie {
  animation: floatTalkie 3.5s ease-in-out infinite;
}

@keyframes letterBounceLoop {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  10% {
    transform: translateY(-6px);
    opacity: 1;
  }
  20% {
    transform: translateY(2px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 🔥 IMPORTANT FIXES */
.animate-letter {
  display: inline-block; /* ❗ REQUIRED */
  animation-name: letterBounceLoop;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}


.animate-loader {
  display: inline-block; /* ❗ REQUIRED */
  animation-name: letterBounceLoop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.animate-wave {
  animation: wave 2s ease-out infinite;
}