.card {
  width: 100%; /* 🔥 responsive */
  max-width: 290px; /* 🔥 control size */
  min-height: 380px;

  position: relative;
  display: flex;
  justify-content: center;

  padding: 0; /* ❌ remove extra width */
  margin: 0; /* ❌ remove external gap */

  perspective: 2500px;
  flex-shrink: 0; /* 🔥 important for slider */
}

.cover-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}

.card:hover .cover-image {
  opacity: 0;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  background: white;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
}

.card:hover .wrapper {
  /* transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0); */
  /* box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(9, 0, 0, 0.35);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
  box-shadow: -3px 2px 31px -7px #0069af;
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
/* .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
} */

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 0;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: all 0.3s ease;
}

.card:hover .title {
  transform: translate3d(0%, -30px, 100px);
  font-size: 18px;
  font-weight: 700;
}

.character {
  width: 90%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  /* top: -15%; */
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -23%, 100px);
}
